<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732797313613-m95644ekgg88fpnqst2s89rbatpd0n05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732797313613-m95644ekgg88fpnqst2s89rbatpd0n05</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ2iMa0k2pylwBaBfmQsoVzhS5dD75QxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>732797313613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.fhdw.hatschi</string>
	<key>PROJECT_ID</key>
	<string>hatschi-5e899</string>
	<key>STORAGE_BUCKET</key>
	<string>hatschi-5e899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732797313613:ios:e465676dcf356f5f85b204</string>
	<key>DATABASE_URL</key>
	<string>https://hatschi-5e899-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>