ion-input {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    --padding-top: 0.5rem;
    --padding-end: 2.75rem;
    --padding-bottom: var(--padding-top);
    --padding-start: 1rem;

    height: 2.5rem;
    border-radius: 2.5rem;
}

ion-button {
    --padding-end: 0;
    --padding-start: 0;

    position: absolute;
    top: 0;
    right: 1.15rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;

    ion-icon {
        width: 1.25rem;
        margin-top: 0.15rem;
        margin-right: 0.1rem;
        color: var(--ion-color-contrast, #ffffff);
    }

    @media (min-width: 992px) {
        right: 0.15rem;
    }
}
