<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Start new chat
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
    <app-new-chat-input (chatOpened)="dismissModal()"></app-new-chat-input>
</ion-content>
